[manifest]
version = "1.0.0"
dump_lua = true
priority = 1

# Give Judgement its own context
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
if self.ability.name == 'The Soul' then check_for_unlock{type = 'spawn_legendary'} end
used_tarot:juice_up(0.3, 0.5)
'''
position = "after"
payload = '''
if self.ability.name == 'Judgement' and next(SMODS.find_card('j_mxms_honorable')) then
    delay(0.6)
    SMODS.calculate_context({mxms_judgement_used = true, card = card})
end
'''
match_indent = true
times = 1